.root {
  .orderNum{
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    background-color: rgb(248,84,29);
  }
  .orderNumCur{
    @extend .orderNum;
    background-color: rgb(250,170,0);
  }
  :global{
    .rndElement{
      background-color:rgba(248,84,29,0.7);
    }
    .rndElementCur{
      background-color:rgba(250,170,0,0.7); 
    }
    
  }
 
}
