.root {
  width: 100%;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  height: 54vh;
  margin-left: 24px;
  padding: 0 24px;
  border-left: 1.5px solid #dfdfdf;

  .actionButton {
    color: #2F54EB;
    margin-left: 12px
  }
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
  }
  .itemContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 12px;
    border-bottom: 1.5px solid #dfdfdf;
    .itemContentLeft{
display: flex
    }
  }
  .itemContentCur {
    @extend .itemContent;
    background-color: #eef1ff;
  }
  :global {
    .rndElement {
      background-color: #b66246;
      opacity: 0.7;
    }
  }
}
